.container {
    max-width: 382px;
    min-width: 350px;
    justify-self: center;
}

.content {
    display: grid;
    grid-template-rows: 150px 220px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'logo logo logo'
    'info info info';

    text-decoration: none;
    color: var(--text-primary);
    margin: 15px;
    background-color: var(--content-level-1);
    transition: transform .1s ease-in-out, background 0.5s ease, color 0.5s ease, border 0.5s ease;
    overflow-wrap: break-word;
    overflow: hidden;
    border: 1px solid var(--content-level-2);

}

.content:hover {
    background-color: var(--hover-bg); // Temporal
    transform: scale(1.05);
    z-index: 2;
}

.thumbnailContainer {
    grid-area: logo;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.entryInfo {
    grid-area: info;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.entryDate {
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: underline;
}

.entryIntro {
    text-align: justify;
}





