.container {
    display: flex;
    width: 100%;
    background-color: var(--content-level-3);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.header {
    font-size: 32px;
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}