.container {
    width: 100%;
    background-color: var(--header-footer);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'OpenSans', sans-serif;
    position: sticky;
    z-index: 5;
    top: 0;
    transition: background 0.5s ease, color 0.5s ease;
}

.content {
    margin: 0 64px;
    min-width: 0;
    max-width: 1192px;
    width: 100%;
    box-sizing: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.logoContainer {
    display: block;

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color: var(--text-secondary);
    }
}

.logo {
    text-align: center;
    font-size: 48px;
    
}


.hBlock {
    flex: 1 0 auto;
}

.settingsContainer {
    align-items: center;
    justify-content: center;
    display: flex;

    button {
        color: var(--text-secondary);
        background-color: black;
        border-radius: 50%;
        border-color: var(--text-secondary);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0 15px;
        border: solid 2px;
        transition: transform .3s ease-in-out;
    }

    button:hover {
        transform: scale(1.05)
    }
}

.uncheckedIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15;
    color: var(--header-footer);
    padding-right: 2;
}

.checkedIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15;
    color: white;
    padding-right: 2;
}

.uncheckedHandle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15;
    color: #e3a917;
    padding-right: 2;
}

.checkedHandle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15;
    color: purple;
    padding-right: 2;
}


